In [2]:
# Make a tuple of the first 10 numbers and store it as x

x= (1,2,3,4,5,6,7,8,9,10)
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Tuples are immutable. This means that the values inside cannot change

In [3]:
# make a list of the first 10 natural numbers and store it as y 

y=[1,2,3,4,5,6,7,8,9,10]
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
y[0] = 1.5
y

[1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# make a list of the first 100 natural numbers and store it as z

z = []

for number in range(100): # start at 0, and do all the stuff thats indented for each nuber 
    square = (number + 1) ** 2
    z.append(square)
print(z)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
# list comprehensions

# we can use a Loop inside of a list to save time and space

# Let's make a list of all the first 100 squares and store it as squares_100

In [16]:
squares_100 = [number**2 for number in range (1, 101)]
print(squares_100)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [17]:
# use a list comprehension to make a list of the first 50 multiples of 7, store as multiples 

multiples = [number * 7 for number in range(1, 51)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350]